<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410267260286-tun5taf7h9fp2e8n6hhe12n9uidn730r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410267260286-tun5taf7h9fp2e8n6hhe12n9uidn730r</string>
	<key>API_KEY</key>
	<string>AIzaSyDGvVUM7ox8EoonPN-2ySj5_Xo2S7q9Gp0</string>
	<key>GCM_SENDER_ID</key>
	<string>410267260286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.travir</string>
	<key>PROJECT_ID</key>
	<string>travir-1dadd</string>
	<key>STORAGE_BUCKET</key>
	<string>travir-1dadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410267260286:ios:722d1211445b3ed8774f2f</string>
	<key>DATABASE_URL</key>
	<string>https://travir-1dadd-default-rtdb.firebaseio.com</string>
</dict>
</plist>